# 复制为 .env 后自行填写。该文件不要提交，也不要把授权码发到聊天记录。
RECRUITMENT_EMAIL_VERIFICATION_ENABLED=1
QQ_SMTP_USER=你的QQ邮箱@qq.com
QQ_SMTP_AUTH_CODE=在QQ邮箱生成的SMTP授权码
DEFAULT_FROM_EMAIL=PRIME 招新 <你的QQ邮箱@qq.com>
EMAIL_HOST=smtp.qq.com
EMAIL_PORT=465
EMAIL_USE_SSL=1
EMAIL_USE_TLS=0
